*~

.venv/
IHP-Open-PDK/
tt/
__pycache__/

src/user_config.json
src/config_merged.json

synth_tt_um_chrbirks_top.v
abc.history
runs/

*.vcd
*.raw
transcript
adpll_tb
sim/*.log
sim/sim_build
sim/gate_level_netlist.v
sim/tt_um_chrbirks_top_pex.spice
sim/sim-gl
sim/tt_um_chrbirks_top.filtered.sdf
sim/tt_um_chrbirks_top.nl.v

test/results.xml
test/sim_build/