*~

.venv/
IHP-Open-PDK/
tt/
__pycache__/

src/user_config.json
src/config_merged.json

synth_tt_um_chrbirks_top.v
abc.history
runs/

*.vcd
*.raw
transcript
adpll_tb
test/*.log
test/sim_build
test/gate_level_netlist.v
test/tt_um_chrbirks_top_pex.spice
test/sim-gl
test/tt_um_chrbirks_top.filtered.sdf
test/tt_um_chrbirks_top.nl.v
