*~
.DS_Store
.idea
*.vcd
*.fst
*.fst.hier

.venv/
IHP-Open-PDK/
tt/

runs/
synth_tt_um_chrbirks_top.v
abc.history

transcript
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
adpll_tb
